version: "3.8"

services:
  mcp-server:
    build:
      context: ../../
      dockerfile: deployments/docker/Dockerfile
    image: mcp-financial-market:latest
    container_name: mcp_server
    ports:
      - "8000:8000"
    env_file:
      - ../env/.env
    restart: unless-stopped
    networks:
      - mcp-network

networks:
  mcp-network:
    driver: bridge